<table class="table tablesorter table-hover " id="plain-table">
    <thead class=" text-primary">
        <tr>
            <th class="header">
                Transaction Full Ditails
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <p>
                    Amount in USD:
                </p>

            </td>
        </tr>
        <tr>
            <td>
                <p>
                    Amount in User Currency:
                </p>

            </td>
        </tr>
        <tr>
            <td>
                <p>
                    Transaction Type:
                </p>

            </td>
        </tr>
        <tr>
            <td>
                <p>
                    Created On:
                </p>
            </td>
        </tr>
        <tr>
            <td>
                <p>
                    Transaction Description:
                </p>

            </td>
        </tr>

    </tbody>


</table>