<h1>Administration</h1>
<div class="container">
	<div class="row">
		<div class="col-md-3">
			<a class="btn btn-default" asp-area="Administration" asp-controller="Transactions" asp-action="History">TRANSACTION HISTORY</a>
		</div>
	</div>
	<div class="row">
		<div class="col-md-3">
			<a class="btn btn-default" asp-area="Administration" asp-controller="UserAdministration" asp-action="Index">USER ADMINISTRATION</a>
		</div>
	</div>
</div>