@model GameViewModel
@{
    ViewData["Title"] = "_GameBoardPartial";
}


<link href="~/css/ezslots.css" rel="stylesheet" type="text/css" />

<div class="wrapper">
    <div class="page-header">

        <div class="container align-items-center">
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-coin card-plain">
                        <div class="card-body">
                            <h3 class="text-center">Game Name</h3>
                            <div class="row justify-content-center">


                            </div>

                            <div class="tab-content tab-subcategories">
                                <div class="tab-pane active" id="linka">
                                    <div class=" row justify-content-center">
                                        @if (TempData["Invalid bet"] != null)
                                        {
                                            <div class="alert alert-success alert-with-icon">
                                                <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close">
                                                    <i class="tim-icons icon-simple-remove"></i>
                                                </button>
                                                <span data-notify="icon" class="tim-icons icon-bell-55"></span>
                                                <span>
                                                    @TempData["Invalid bet"]
                                                </span>
                                            </div>
                                        }
                                        <div id="slot_div" class="slot-machine">


                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


<script src="~/js/gameAnimation/ezslots.js"></script>
<script src="~/js/gameAnimation/jquery-1.11.3.js"></script>
<script src="~/js/gameAnimation/gameStart.js"></script>
<script>
    $(function () {
        //Game settings
        var images = [
            '<img src="../images/games/orange.png">',
            '<img src="../images/games/banana.png">',
            '<img src="../images/games/cherries.png">',
            '<img src="../images/games/lemon.png">',
            '<img src="../images/games/seven.png">'];

        var callbackFunction = function (result) {
            alert(JSON.stringify(result));
        }

        let board = @Html.Raw(Json.Serialize(Model.Board)); //total rows

        let totalRows = @Html.Raw(Json.Serialize(Model.GameBoardRows)); //total rows
        let totalCols = @Html.Raw(Json.Serialize(Model.GameBoardCols));; //total cols

        //Initialte game
        intSlotGameApp(images, board, totalRows, totalCols);
    });
</script>



