@model WalletViewModel
@{
    ViewData["Title"] = "Index";
}

<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-card" role="tab" aria-controls="pills-card" aria-selected="true">Cards</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Add/Withdraw Funds</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">History</a>
    </li>
</ul>
<div class="tab-content" id="pills-tabContent">
    <div class="tab-pane fade show active" id="pills-card" role="tabpanel" aria-labelledby="pills-home-tab">
        @await Html.PartialAsync("_CardsPartial", Model.Cards)
    </div>
    <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab"> 
    @await Html.PartialAsync("_AddWithdrawFundsPartial", new CardTransactionViewModel(Model.Cards))
    </div>
    <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">History tab</div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
<script src="~/card-master/card-master/dist/card.js"></script>

    <script>
        $(function () {
            var card = new Card({
                form: document.getElementById('addCard'),
                container: '.card-wrapper',
                formSelectors: {
                    numberInput: 'input[name="RealNumber"]', // optional — default input[name="number"]
                    expiryInput: 'input[name="ExpirationDate"]', // optional — default input[name="expiry"]
                }
            });
            });
    </script>
    <script src="~/js/expirationDate.js"></script>
}
