@model WebCasino.Web.Areas.Administration.Models.TransactionHistoryViewModel

<link href="~/assets/css/" rel="stylesheet" />
<h2>Transactions History</h2>

<br />
<div class="card ">
    <div class="card-header">
        <h4 class="card-title"> Transactions Table</h4>
    </div>
    <div class="card-body">
        @await  Html.PartialAsync("TransactionsTable/_TransactionHistoryTable", Model)
    </div>
</div>

@section  Scripts{
    <script src="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>

    <script>
        $(document).ready(function () {
            $('#table').DataTable({
                responsive: true,
                
            });

            });

    </script>
}

