@model WebCasino.Web.Areas.Administration.Models.TransactionHistoryViewModel

<link href="~/assets/css/" rel="stylesheet" />
<h2>Transactions History</h2>

<form class="form" asp-area="Administration" asp-action="History" asp-controller="Transactions" method="GET">
    <div class="row">

        <div class="col-sm-6 col-lg-3">

            <div class="form-group">
                <input asp-for="@Model.SearchText" type="text" class="form-control " placeholder="Search" id="txtSearch" />
            </div>
        </div>
        <div class="col-sm-2 col-lg-2">
            <div class="form-group">
                <input type="submit" class=" form-control btn btn-primary" value="Search" />
            </div>
        </div>
    </div>
</form>

<br />
<div class="card ">
    <div class="card-header">
        <h4 class="card-title"> Transactions Table</h4>
    </div>
    <div class="card-body">
        @await  Html.PartialAsync("TransactionsTable/_TransactionHistoryTable")
    </div>
</div>

