@model WebCasino.Web.Areas.Administration.Models.UserViewModel

@{
    var previousDisabled = Model.Page == 1 ? "disabled" : string.Empty;
    var nextDisabled = Model.Page == Model.TotalPages ? "disabled" : string.Empty;
}

<div class="wrapper">
    <div class="page-header">
        <div class="container align-items-center">
            <div class="row">

                <div class="col-md-12">
                    <div class="card card-coin card-plain">

                        <div class="card-body">
                            <div class="row justify-content-center">
                                <h3>User Transactions History</h3>
                            </div>

                            <ul class="nav nav-tabs nav-tabs-primary justify-content-center">
                                <li class="nav-item">
                                    <a class="nav-link active" data-toggle="tab" href="#linka">
                                        Transactions
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#linkb">
                                        Transactions Details
                                    </a>
                                </li>
                              
                            </ul>
                            <form class="form" asp-area="Administration" asp-action="Details" asp-controller="UserAdministration" method="GET">
                                <div class="row">

                                    <div class="col-sm-6 col-lg-3">

                                        <div class="form-group">

                                            <input asp-for="@Model.SearchText" type="text" class="form-control " placeholder="Search transaction user" id="txtSearch" />

                                        </div>
                                    </div>
                                    <div class="col-sm-2 col-lg-2">
                                        <div class="form-group">
                                            <input type="submit" class=" form-control btn btn-primary" value="Search" />
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <div class="tab-content tab-subcategories">
                                <div class="tab-pane active" id="linka">
                                    <div >
                                        @await  Html.PartialAsync("UsersTable/_UserTransactionsHistoryTable")
                                    </div>
                                </div>
                                <div class="tab-pane" id="linkb">
                                    <div class="">
                                        @await Html.PartialAsync("UsersTable/_UserTransactionsDetails", Model)
                                    </div>
                                </div>
                               

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
