@model WebCasino.Web.Areas.Administration.Models.UsersIndexViewModel
<link href="~/assets/css/" rel="stylesheet" />
<h2>Casino Users</h2>
<form class="form" asp-area="Administration" asp-action="Index" asp-controller="UserAdministration" method="GET">
	<div class="row">

		<div class="col-sm-6 col-lg-3">
			<div class="form-group">
				<input asp-for="@Model.SearchText" type="text" class="form-control " placeholder="Search user" id="txtSearch" />
			</div>
		</div>
		<div class="col-sm-2 col-lg-2">
			<div class="form-group">
				<input type="submit" class=" form-control btn btn-primary" value="Search" />
			</div>
		</div>
	</div>
</form>

<br />
<div class="card ">
	<div class="card-header">
		<h4 class="card-title"> Users Table</h4>
	</div>
	<div class="card-body">
        <div class="table">
            @await  Html.PartialAsync("UsersTable/_AllUsersTable")
        </div>
	</div>
</div>
